<div class="row">
  <div class="col">
    <h5>Price Details</h5>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>Total MRP</p>
  </div>
  <div class="col">
    <p>{{cartDetails.totalMRP | currency:'INR'}}</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>Estimated Tax</p>
  </div>
  <div class="col">
    <p>{{cartDetails.tax | currency:'INR'}}</p>
  </div>
</div>

<div class="row">
  <div class="col">
    <p>Delivery Charges</p>
  </div>
  <div class="col">
    <p>{{cartDetails.delivery | currency:'INR'}}</p>
  </div>
</div>
<hr>

<div class="row">
  <div class="col">
    <h5>Total</h5>
  </div>
  <div class="col">
    <p>{{cartDetails.totalAmount | currency:'INR'}}</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <button type="button" class="btn btn-dark btn-block">Checkout</button>
  </div>
</div>
