.fit-image {
  width: 100%;
  object-fit: cover;
  height: 150px;
  /* only if you want fixed height */
}

.offerPrice {
  font-size: 24px;
  font-weight: bold;
  margin-right: 16px;

}


.realPrice {
  font-size: 24px;
  color: grey;
  font-weight: normal;
  text-decoration: line-through;

}




// varient selectore css
.cc-selector input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


.cc-selector-2 input:active+.image-cc,
.cc-selector input:active+.image-cc {
  opacity: .9;
}

.cc-selector-2 input:checked+.image-cc,
.cc-selector input:checked+.image-cc {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}

.image-cc {
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 70px;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
  filter: brightness(1.8) grayscale(1) opacity(.7);
}

.image-cc:hover {
  -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
  -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
  filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited {
  color: #888
}

a {
  color: #444;
  text-decoration: none;
}

p {
  margin-bottom: .3em;
}


.cc-selector-2 input {
  margin: 5px 0 0 12px;
}

.cc-selector-2 label {
  margin-left: 7px;
}

span.cc {
  color: #6d84b4
}


.checked {
  color: orange;
}
